:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

/*  =====------ Main Elements ------===== */
body {
  font-family: var(--default-font-family);
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
}

h4 {
  font-size: 48px;
}

p {
  font-size: 16px;
  line-height: 30px;
}

img {
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*  =====------ Nab Bar ------===== */

nav {
  padding: 20px 0;
}

nav li {
  display: inline;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
.active {
  color: var(--branding-color);
}

.logo-img {
  max-height: 40px;
}

/*  =====------ Home Page Hero ------===== */
.hero {
  text-align: center;
  padding: 160px 20px;
  background-color: var(--secondary-color);
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

/*  =====------ Buttons ------===== */

.btn-branding,
.btn-branding-outline {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
}

.btn-branding {
  background-color: var(--branding-color);
  color: white;
}

.btn-branding:hover {
  background-color: var(--branding-color);
}

.btn-branding-outline {
  background-color: white;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.btn-branding-outline:hover {
  border: 1px solid var(--branding-color);
}

/*  =====------ Home Page Content ------===== */

.project-description {
  padding: 120px 60px;
}

.text-muted {
  color: #6c757d !important;
}

/*  =====------ Footer ------===== */
footer {
  margin: 50px 0;
}
footer a {
  color: black;
  font-size: 24px;
  transition: all 100ms ease-in-out;
}

footer a:hover {
  color: var(--branding-color);
}

.social-links a {
  color: var(--branding-color);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 18px;
  margin: 0 20px;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

.work-inquiry {
  padding: 30px 120px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

/*  =====------ Sub Pages ------===== */

.sub-page-hero {
  padding: 50px 20px;
}
.sub-page-hero h1 {
  font-size: 64px;
}

.sub-page-hero h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.sub-page-titles {
  margin: 30px;
}

.sub-page-content p {
  font-size: 14px;
}

/*  =====------ Media ------===== */
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.2;
  }

  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .sub-page-hero {
    padding: 20px;
    text-align: center;
  }

  .sub-page-hero h1 {
    font-size: 40px;
  }
}
